body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'merriweather', serif;}

h1 {
  color: #66BFBF;
  font-size: 5.62rem;
  width: 10%
  margin:50px auto 0 auto;
  font-family: 'sacramento', cursive;
}

h2 {
color: #66BFBF;
  font-family:'sacramento', cursive;
  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
color: #66BFBF;
  font-family: 'montserrat', sans-serif;
font-size: 2em;
font-weight: normal;
margin-top: 0;
}

  p{
    line-height: 2;
  }
  hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

.top-container {
  background-color: #e4fbff;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
  }

.bottom-container {
  background-color: #e4fbff;
  padding: 50px 0 20px;
  }

  .Intro {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
  margin: auto;
  }
  .my-skills {
font-family: 'Montserrat', sans-serif;
width: 30%;
margin: 40px auto 40px;
  }
  .head-react.js {
    color: #66BFBF;
      font-family: 'montserrat', sans-serif;
    font-size: 2em;
    font-weight: normal;
    padding-top: 15px;
  }

  .js-angular {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    margin: 40px auto 40px;
  }
.Contact-message {
  font-family: 'Montserrat', sans-serif;
  width: 30%;
margin: 40px auto 60px;
  }

.bottom-cloud {
  position: absolute;
  left: 280px;

  bottom: 250px;}

.top-cloud {
  position: absolute;
  left: 860px;
  top: 50px;}

  .btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 17px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
